@page "/category/create"
@inject HttpClient Http
@inject NavigationManager navigation
@inject IJSRuntime js

<h2>Nova Categoria</h2>

<CategoriaForm Categoria="@categoria" OnValidSubmit="@CriarCategoria"
	ButtonTextSubmit="Criar" ButtonTextCancel="Voltar">

</CategoriaForm>

@code {
	Category categoria = new Category();

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		if(firstRender)
		{
			await Focus("txtCategoriaNome");
		}
	}

	public async Task Focus(string elementId)
	{
		await js.InvokeVoidAsync("focusById", elementId);
	}



	async Task CriarCategoria()
	{
		await Http.PostAsJsonAsync("api/category", categoria);
		navigation.NavigateTo("category");
	}
}
